body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: whitesmoke
}



.title-h1{
    margin-top: 55px;
}

.title-img{
    width: 20%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%
}

.btn{
    margin:30px 0px 8px
}

.container-fluid{
    padding: 3% 15% 7%
}

.navbar{
    padding-bottom: 4.5rem;
    margin-bottom: 20px;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    margin: 5px
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

/* FEATURES */

#features{
    text-align: center;
    background-color: whitesmoke;
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

.feature-logo{
    color:#ef8172;
    text-align: center;
}

.feature-logo:hover {
    color:#ff4c68
  }

.feature-title{
    font-weight: bolder;
}

.feature{
    margin: 30px 0px
}

/* TESTIMONIALS */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    font: "Montserrat-Bold";
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    margin-top: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

#press{
    background-color: #ef8172;
    text-align: center;
}

.press-logo{
    margin: 10px 20px ;
    padding: 20px;
    width: 15%;
}
/* 
PRICING */

#pricing{
    text-align: center;
    margin: 10%;
    padding: 10px
}

.pricing-title{
    margin-bottom: 80px;
    margin-top: -40px;
}

/* CTA */

#cta{
    background-color: #ff4c68;
    color: #fff;
    font: "Montserrat";
    text-align: center;
    font-weight: bolder;
    padding-top: 60px;
    padding-bottom: 50px;
}

.cta-btn{
    margin-left: 10px;
    margin-right: 10px;
}

/* FOOTER */

#footer{
    text-align: center;
}